{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Senny Assistente</title>
    {# Seus links de CSS #}
</head>
<body>
    <h1>Crie sua Conta</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit">Cadastrar</button>
    </form>
    <p>Já tem conta? <a href="{% url 'login_usuario' %}">Faça seu Login aqui</a>.</p>
</body>
</html>